
.header {
    position: fixed; /* Fix header at the top */
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1rem;
    text-align: center;
    z-index: 200; /* Ensure header is above the canvas */
    font-family: 'a';
    background-color: black;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
 
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                   0 0 20px rgba(255, 255, 255, 0.6),
                   0 0 30px rgba(255, 255, 255, 0.4); /* Creates the white glow effect */
  }
  
  
